# /を含まない場合（fileなど）
# .gitignore以下の全サブディレクトリ下にあるこの名前のファイル or ディレクトリを無視する

# 末尾以外にのみ/を含む場合（/file, /path/to/file, path/to/fileなど）
# .gitignoreが置いてあるディレクトリをカレントディレクトリとする相対パスで指定されるファイル or ディレクトリを無視する

# 末尾だけ/を含む場合（directory/など）
# .gitignore以下の全サブディレクトリ下にあるこの名前のディレクトリを無視する

# 末尾以外にも末尾にも/を含む場合（/directory/, /path/to/directory/, path/to/directory/など）
# .gitignoreが置いてあるディレクトリをカレントディレクトリとする相対パスで指定されるディレクトリを無視する
/node_modules/
/dist/

# !で始まる場合（!/path/to/fileなど）
# !以降のパターン文字列が示すファイル or ディレクトリを無視しない。前の無視指定を上書きする。以降の無視指定に上書きされうる

# ワイルドカード*を含む場合
# *.logで拡張子が .log のすべてのファイルを全て無視